useDynLib(cgen)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(RcppEigen,Matrix)

export("%c%")                                                                                                         
export("%**%")   
